.background {
  background: url("../images/plans-background.jpg");
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -2;
}

main {
  padding-top: 32px;
}

.packages {
  border: 4px solid #0e4f1f {
    left: none;
  }
  margin: 16px 0;
  width: 80%;
  position: relative;
  z-index: -1;
  &:hover,
  &:active {
    border-color: #ff5454;
    box-shadow: 2px 2px 4px rgba(black, 0.5);
  }
  .packages__badge {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    font-size: 12px;
    color: white;
    background: #ff5454;
    padding: 8px;
  }
}

#plus {
  background: rgba(213, 255, 220, 0.95);
}

#free {
  text-align: right;
  background: rgba(234, 252, 237, 0.95);
  float: right;
  border-left: 4px solid #0e4f1f;
  border-right: none;
  &:hover,
  &:active {
    border-left-color: #ff5454;
  }
}
.clearfix {
  clear: both;
}

#premium {
  background: rgba(14, 79, 31, 0.95);
  .package__title {
    color: white;
  }
  .packages__link__subtitle {
    color: #bbb;
  }
}
.packages__link {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 32px;
}

.packages__link__subtitle {
  color: rgb(90, 88, 88);
}

.packages__link__description {
  border: 1px solid #0e4f1f;
  color: #0e4f1f;
  padding: 16px;
  background: white;
  font-size: 20px;
}
